.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
header {
  background-image: url(../img/main_bg.jpg);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section {
  padding-top: 7%;
  padding-bottom: 5%;
}
.main-head {
  margin-top: 7%;
}
.main-logo {
  z-index: 2;
}
.main-logo-border {
  width: 149px;
  height: 55px;
  border: 3px solid #706b73;
  border-radius: 2px;
  line-height: 49px;
}
.main-logo-border p {
  color: #6e6e6e;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.orange-span {
  color: #fa9a87;
}
.border-radius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.navBurger {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
  background: #111;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}
.navBurger:before,
.navBurger:after {
  content: "";
  position: absolute;
  background: #111;
  height: 2px;
  width: 100%;
  right: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navBurger:before {
  top: -10px;
}
.navBurger:after {
  bottom: -10px;
}
.navBurger.active {
  background: transparent;
  background-clip: content-box;
}
.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #eee;
  width: 110%;
}
.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #eee;
  width: 110%;
}
.main-title-text {
  margin-top: 18%;
  color: #6e6e6e;
}
.main-title-text h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 50px;
}
.main-title-text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.main-title-text span {
  color: #fc7254;
}
.main-form {
  margin-top: 29%;
  padding: 16px 39px 29px 39px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main-form-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.main-form input,
.main-form textarea {
  margin-top: 34px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #706b73;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.main-form textarea {
  resize: vertical;
  margin-top: 30px;
}
.main-form button {
  text-align: center;
  margin-top: 17px;
  width: 80%;
  height: 55px;
  background-color: #ff5c36;
  border: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.main-form button:hover {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}
.footer-form {
  margin-top: 0;
}
.section_header h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 50px;
}
.section_header span {
  color: #fa9a87;
}
.section_header p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8%;
}
.working_box {
  padding: 54px 30px 35px 30px;
  width: 100%;
  color: #fff;
  margin-top: 20%;
}
.working_box:hover {
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
}
#working_proc .fa {
  font-size: 50px;
  margin-bottom: -10px;
}
#working_proc .content_p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
#working_proc h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
#working_proc .content1 {
  background-color: #4eb2f7;
}
#working_proc .content2 {
  background-color: #c049f8;
}
#working_proc .content3 {
  background-color: #817eff;
}
#working_proc .content4 {
  background-color: #f74770;
}
#working_proc .content4 .fa-camera-retro {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
#working_proc .content_button {
  position: absolute;
  width: 78%;
  padding: 5px;
  padding-right: 14px;
  left: 50%;
  margin-left: -39%;
  bottom: -30px;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  color: #706b73;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
#working_proc .content_button:hover {
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
}
.plus {
  vertical-align: -5px;
  font-size: 30px;
  font-weight: 100;
}
#works {
  background-color: #f5f5f5;
}
.works_box {
  margin-top: 5%;
  max-width: 360px;
  height: 360px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.works_box img {
  width: 100%;
  height: 100%;
}
.works_box .signature {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  transition: all 0.2s;
}
.works_box .signature .sign P {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.works_box .signature .sign button {
  border: none;
  padding: 15px 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #fa9a87;
}
.works_box .signature .sign button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.works_box .signature:hover {
  opacity: 1;
}
.services_pic img {
  max-width: 100%;
}
.services_list {
  left: 0;
  list-style: none;
  padding: 0px;
}
.services_list_item {
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 8px;
  width: 100px;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.services_list_item:hover {
  box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
}
.services_line {
  display: block;
  width: 57px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #fa9a87;
}
.services_info {
  padding-left: 30px;
}
.services_info h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.services_info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.services_info button {
  width: 236px;
  height: 53px;
  margin-top: 45px;
  border: 1px solid #6e6e6e;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
#accordion_example {
  background-color: #f5f5f5;
}
.demo {
  width: 50%;
}
.panel-heading h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.panel-body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #fff9f8;
}
.clients {
  margin-bottom: -27px;
}
.slider_item_box .feedback-slider-item-box {
  padding: 10px;
  padding-top: 64px;
  /* border: 1px solid @base-grey; */
  margin: 0 20px;
}
.slider_item_box .feedback-slider-item-box:hover {
  box-shadow: 0px 0px 27px rgba(20, 20, 21, 0.09);
}
.slider_item_box .feedback-slider-item-box:focus {
  outline: none;
}
.slider_item_box .feedback-slider-item-box p {
  margin-top: 10px;
  font-size: 17px;
}
.slider_item_box .feedback-slider-item-box p span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.slider_item_box .feedback-slider-item-box .rating {
  color: #ffef3b;
}
.slider_item_box .feedback-slider-item-box .rating .empty-star {
  color: #6e6e6e;
}
.slider_item_box img {
  width: 128px;
  height: 128px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto -64px auto;
}
.slick-slide:focus {
  outline: none;
}
.slider-arrows {
  padding: 18px;
  font-size: 18px;
  z-index: 2;
  position: absolute;
  top: 50%;
  height: 48px;
  width: 48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.08);
  -webkit-transform: translateY(-24px);
  -ms-transform: translateY(-24px);
  -o-transform: translateY(-24px);
  transform: translateY(-24px);
  background-color: #fff;
}
.slider-arrows:hover {
  background-color: #ff6e47;
  color: #fff;
  cursor: pointer;
}
.arrow-right {
  right: 0px;
}
.arrow-left {
  left: 0px;
}
.slick-dots li button:before {
  width: 20px;
  height: 7px;
  background-color: #aaaaaa;
  color: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.slick-dots li.slick-active button:before {
  color: transparent;
  background-color: #ff6e47;
}
.slick-dots {
  bottom: -40px;
}
footer {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
}
.btn_footer {
  padding: 15px 35px;
  border: 1px solid #e6e6e6;
  color: #706b73;
  background-color: #fff;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.btn_footer:hover {
  background-color: #ff6e47;
  color: #fff;
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
}
.modal-dialog {
  z-index: 1100;
}
.menuModal {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.menuModal.open {
  opacity: 0.99;
  visibility: visible;
  transform: scale(1);
}
.menuModal.open li {
  display: block;
  animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  animation-delay: 0.4s;
  transform: rotate(-7deg);
  transform-origin: right bottom;
}
.menuModal.open li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.menuModal.open li:nth-of-type(3) {
  animation-delay: 0.6s;
}
.menuModal.open li:nth-of-type(4) {
  animation-delay: 0.7s;
}
.menuModal.open li:nth-of-type(5) {
  animation-delay: 0.8s;
}
.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10%;
  bottom: 25%;
}
.overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}
.overlayMenu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}
.overlayMenu ul li a {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  margin: 5px 0;
  transition: 0.2s;
}
.overlayMenu ul li a:hover {
  color: #fa9a87;
}
.overlayMenu ul li a:hover,
.overlayMenu ul li a:active,
.overlayMenu ul li a:focus {
  transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}
.locked {
  overflow: hidden;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
  }
}
@media (max-width: 480px) {
  .main-title-text h1,
  .section_header h2 {
    font-size: 24px;
  }
  .main-title-text p,
  .section_header p {
    font-size: 12px;
  }
}
@media (max-width: 960px) {
  .fadeInLeft {
    visibility: visible !important;
    animation-name: none;
    animation-duration: 0s;
    animation-delay: 0s !important;
  }
  .services_list {
    text-align: center;
  }
  .services_list li {
    display: inline-block;
    text-align: center;
  }
}
@media (max-height: 450px) {
  .overlayMenu {
    bottom: 5%;
  }
  .overlayMenu ul li a {
    font-size: 15px;
  }
}
